blockquote {
  font-size: 0.8em;
  color: gray;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
}
p.important {
  font-size: 1.5em;
  font-weight: 900;
}
p.spaced_out {
  line-height: 2em;
  word-spacing: 1.5em;
  letter-spacing: 2em;
}
p.pretty {
  text-align: justify;
  text-indent: 1em
}
p.offset {
  margin: 5em;
}
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
}
h3, h4, p.center {
  text-align: center;
}
.borders {
  border: 2px double red;
  padding: 0.5em 0 0.5em 0;
}
.typewiter {
  font-family: "Courier New", Courier, monospace;
}
.emphasized {
  font-style: italiic;
}

.red {
  color: #f00;
}
h2#orange {
  color: orange;
}
